<a href="https://colab.research.google.com/github/maushamkumar/Pandas/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Pandas?
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

# Pandas Series
A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

# Importing Pandas

In [ ]:
import numpy as np
import pandas as pd

# Series from lists

In [ ]:
# String
country = ['India', 'Pakistan', 'USA', 'Nepal', 'Srilanka']
pd.Series(country)
# Whenever you create a series, values and index
# In pandas object also know as string in Pandas

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [ ]:
# Integers
runs = [13, 24, 56, 78, 100]

In [ ]:
pd.Series(runs)

0     13
1     24
2     56
3     78
4    100
dtype: int64

In [ ]:
# Coustom index
marks = [67, 57, 89, 90, 100]
subjects = ['English', 'Maths', 'Science', 'Social', 'Hindi']
pd.Series(marks, index=subjects) # marks will assign as value and subjects as index

English     67
Maths       57
Science     89
Social      90
Hindi      100
dtype: int64

In [ ]:
# Setting a name for the series
marks = [67, 57, 89, 90, 100]
subjects = ['English', 'Maths', 'Science', 'Social', 'Hindi']
pd.Series(marks, index=subjects, name='Mausham ke Marks')
# Marks is a reference variable where Mausham ke Marks is an attribute of that object.

English     67
Maths       57
Science     89
Social      90
Hindi      100
Name: Mausham ke Marks, dtype: int64

In [ ]:
marks = pd.Series(marks, index=subjects, name='Marks')

In [ ]:
marks

English     67
Maths       57
Science     89
Social      90
Hindi      100
Name: Marks, dtype: int64

# Series from dict

In [ ]:
marks1 = {'English': 67, 'Maths': 57, 'Science': 89, 'Social': 90, 'Hindi': 100}
pd.Series(marks1)
# IF you pass dict in series then the key will become the index and the value will become values

English     67
Maths       57
Science     89
Social      90
Hindi      100
dtype: int64

# Series Attributes

In [ ]:
# Size of the series => number of items present inside your series
marks.size

5

In [ ]:
# dtype => data type of series
marks.dtype

dtype('int64')

In [ ]:
# name = => name of the series
marks.name

'Marks'

In [ ]:
# is_unique => check if the index is unique
marks.is_unique

True

In [ ]:
pd.Series([1, 2,3 ,4, 55, 5, 6, 4, 3, 2, 2,1 ]).is_unique

False

In [ ]:
# Index => index of the series
marks.index

Index(['English', 'Maths', 'Science', 'Social', 'Hindi'], dtype='object')

In [ ]:
# values => values of the series
marks.values

array([ 67,  57,  89,  90, 100])

# Series using read_csv

In [ ]:
# with one col
ipl = pd.read_csv('/content/IPLcsv.csv')

In [ ]:
df = pd.read_csv('/content/subs.csv', header=None).squeeze()

In [ ]:
type(df)

pandas.core.series.Series

In [ ]:
df

0      Subscribers gained
1                      48
2                      57
3                      40
4                      43
              ...
361                   231
362                   226
363                   155
364                   144
365                   172
Name: 0, Length: 366, dtype: object

# Series methods

In [ ]:
# Head  => First Five rows and you can specify any number of rows
print(df.head())
print()
print()
df.head(10)

0    Subscribers gained
1                    48
2                    57
3                    40
4                    43
Name: 0, dtype: object

0    Subscribers gained
1                    48
2                    57
3                    40
4                    43
5                    44
6                    46
7                    33
8                    40
9                    44
Name: 0, dtype: object

In [ ]:
# Tail => Last 5 rows and you can specify any number of rows
print(df.tail())
print()
print()
df.tail(2)

361    231
362    226
363    155
364    144
365    172
Name: 0, dtype: object

364    144
365    172
Name: 0, dtype: object

In [ ]:
# Sample => Random show you one row and you can specify any number of rows
df.sample(5)

285    269
162    123
178    152
252    182
154    117
Name: 0, dtype: object

In [ ]:
# Value_counts => value_counts()
ipl.value_counts()

ID       innings  overs  ballnumber  batter            bowler             non-striker       extra_type  batsman_run  extras_run  total_run  non_boundary  isWicketDelivery  player_out        kind     fielders_involved  BattingTeam
336010   1        8      6           DJ Hussey         A Kumble           T Taibu           legbyes     0            1           1          0             1                 DJ Hussey         run out  DW Steyn           Kolkata Knight Riders          1
1136573  2        0      6           JJ Roy            PP Chawla          G Gambhir         wides       0            1           1          0             1                 JJ Roy            stumped  KD Karthik         Delhi Daredevils               1
829803   1        5      5           DA Miller         YS Chahal          GJ Bailey         wides       0            1           1          0             1                 DA Miller         stumped  KD Karthik         Kings XI Punjab                1
829821   1        19     4           HV Patel          DJ Bravo           SN Khan           wides       0            1           1          0             1                 HV Patel          run out  MS Dhoni           Royal Challengers Bangalore    1
980917   1        8      6           JC Buttler        SB Jakati          PA Patel          wides       0            1           1          0             1                 JC Buttler        stumped  KD Karthik         Mumbai Indians                 1
980969   1        14     2           SS Tiwary         YS Chahal          AM Rahane         wides       0            1           1          0             1                 SS Tiwary         stumped  KL Rahul           Rising Pune Supergiants        1
980989   2        0      2           RV Uthappa        R Ashwin           G Gambhir         wides       0            1           1          0             1                 RV Uthappa        stumped  MS Dhoni           Kolkata Knight Riders          1
1082592  1        19     6           HH Pandya         AB Dinda           TG Southee        wides       0            1           1          0             1                 TG Southee        run out  MS Dhoni           Mumbai Indians                 1
1082617  1        9      2           YK Pathan         YS Chahal          MK Pandey         wides       0            1           1          0             1                 YK Pathan         stumped  KM Jadhav          Kolkata Knight Riders          1
1082625  1        8      2           KD Karthik        KH Pandya          Ishan Kishan      wides       0            1           1          0             1                 KD Karthik        stumped  PA Patel           Gujarat Lions                  1
1082639  1        17     6           WP Saha           Kuldeep Yadav      AR Patel          wides       0            1           1          0             1                 WP Saha           stumped  RV Uthappa         Kings XI Punjab                1
1136574  2        9      4           Mandeep Singh     KH Pandya          V Kohli           wides       0            1           1          0             1                 Mandeep Singh     stumped  Ishan Kishan       Royal Challengers Bangalore    1
336020   1        15     2           G Gambhir         PP Ojha            S Dhawan          wides       0            1           1          0             1                 G Gambhir         stumped  AC Gilchrist       Delhi Daredevils               1
1136600  2        2      1           CH Gayle          K Gowtham          KL Rahul          wides       0            1           1          0             1                 CH Gayle          stumped  JC Buttler         Kings XI Punjab                1
1175360  2        6      5           SR Watson         A Mishra           SK Raina          wides       0            1           1          0             1                 SR Watson         stumped  RR Pant            Chennai Super Kings            1
1181766  2        7      4           S Dhawan          DJ Hooda           PP Shaw           wides       0            1           1          0             1                 S Dhawan          stumped  WP Saha            Delhi Capitals                 1
1254089  1        14     4           MM Ali            R Tewatia          RD Gaikwad        wides       0            1           1          0             1                 MM Ali            stumped  SV Samson          Chennai Super Kings            1
1304047  1        7      6           RV Uthappa        CV Varun           AT Rayudu         wides       0            1           1          0             1                 RV Uthappa        stumped  SP Jackson         Chennai Super Kings            1
1304055  2        18     9           KA Pollard        M Prasidh Krishna  M Ashwin          noballs     0            1           1          0             1                 M Ashwin          run out  SV Samson          Mumbai Indians                 1
1304097  1        18     3           Tilak Varma       LH Ferguson        TH David          noballs     0            1           1          0             1                 Tilak Varma       run out  HH Pandya          Mumbai Indians                 1
1304116  1        19     6           R Shepherd        NT Ellis           B Kumar           noballs     0            1           1          0             1                 B Kumar           run out  JM Sharma          Sunrisers Hyderabad            1
1312197  1        19     6           JC Buttler        Yash Dayal         R Parag           noballs     1            1           2          0             1                 JC Buttler        run out  WP Saha            Rajasthan Royals               1
829775   2        18     5           WP Saha           SL Malinga         GJ Bailey         wides       0            1           1          0             1                 GJ Bailey         run out  PA Patel           Kings XI Punjab                1
829769   2        19     5           STR Binny         R Vinay Kumar      TG Southee        noballs     1            1           2          0             1                 TG Southee        run out  KA Pollard         Rajasthan Royals               1
829763   1        16     3           SN Khan           SR Watson          KD Karthik        noballs     1            1           2          0             1                 KD Karthik        run out  TG Southee         Royal Challengers Bangalore    1
829713   1        19     6           Shakib Al Hasan   VR Aaron           AD Russell        wides       0            1           1          0             1                 Shakib Al Hasan   run out  KD Karthik         Kolkata Knight Riders          1
392217   2        16     6           ML Hayden         SK Warne           S Badrinath       wides       0            1           1          0             1                 ML Hayden         stumped  NV Ojha            Chennai Super Kings            1
392218   2        13     2           RE van der Merwe  Harbhajan Singh    MV Boucher        wides       0            1           1          0             1                 RE van der Merwe  stumped  YV Takawale        Royal Challengers Bangalore    1
392222   1        17     6           K Goel            SL Malinga         PP Chawla         wides       0            1           1          0             1                 PP Chawla         run out  YV Takawale        Kings XI Punjab                1
392228   2        17     1           A Symonds         Mashrafe Mortaza   RG Sharma         noballs     0            1           1          0             1                 A Symonds         run out  Mashrafe Mortaza   Deccan Chargers                1
419114   2        8      5           KD Karthik        Harbhajan Singh    MF Maharoof       wides       0            1           1          0             1                 KD Karthik        stumped  AP Tare            Delhi Daredevils               1
419153   1        4      1           DJ Hussey         R Ashwin           MK Tiwary         wides       0            1           1          0             1                 DJ Hussey         stumped  MS Dhoni           Kolkata Knight Riders          1
419159   2        4      1           M Vijay           RR Powar           SK Raina          wides       0            1           1          0             1                 M Vijay           stumped  KC Sangakkara      Chennai Super Kings            1
419162   2        6      2           KP Pietersen      Harbhajan Singh    R Dravid          wides       0            1           1          0             1                 KP Pietersen      stumped  AT Rayudu          Royal Challengers Bangalore    1
501201   1        16     4           UT Yadav          Harbhajan Singh    RE van der Merwe  wides       0            1           1          0             1                 UT Yadav          stumped  DJ Jacobs          Delhi Daredevils               1
501219   2        16     6           MK Tiwary         RA Jadeja          R Bhatia          wides       0            1           1          0             1                 MK Tiwary         stumped  PA Patel           Kolkata Knight Riders          1
501251   2        3      6           RG Sharma         Bipul Sharma       AC Blizzard       wides       0            1           1          0             1                 RG Sharma         stumped  AC Gilchrist       Mumbai Indians                 1
548375   2        7      5           MJ Clarke         YK Pathan          JD Ryder          wides       0            1           1          0             1                 MJ Clarke         stumped  BB McCullum        Pune Warriors                  1
598012   1        8      5           MA Agarwal        R Ashwin           V Kohli           wides       0            1           1          0             1                 MA Agarwal        stumped  MS Dhoni           Royal Challengers Bangalore    1
729315   3        0      1           SA Yadav          JP Faulkner        Shakib Al Hasan   legbyes     0            1           1          0             1                 SA Yadav          run out  SV Samson          Kolkata Knight Riders          1
733979   2        15     1           MK Pandey         PV Tambe           Shakib Al Hasan   wides       0            1           1          0             1                 MK Pandey         stumped  SV Samson          Kolkata Knight Riders          1
733989   1        19     3           IK Pathan         JP Faulkner        DW Steyn          wides       0            1           1          0             1                 DW Steyn          run out  SV Samson          Sunrisers Hyderabad            1
733995   2        7      7           SK Raina          KA Pollard         DR Smith          wides       0            1           1          0             1                 SK Raina          stumped  CM Gautam          Chennai Super Kings            1
734031   1        19     4           JJ Bumrah         WD Parnell         S Gopal           wides       0            1           1          0             1                 S Gopal           run out  KD Karthik         Mumbai Indians                 1
829707   2        18     5           A Mishra          A Nehra            JA Morkel         wides       0            1           1          0             1                 A Mishra          run out  MS Dhoni           Delhi Daredevils               1
1312197  1        19     7           R Ashwin          Yash Dayal         R Parag           wides       0            1           1          0             1                 R Parag           run out  WP Saha            Rajasthan Royals               1
Name: count, dtype: int64

In [ ]:
# sort_values => inplace => ascending
df.sort_values(by = 'count', inplace = True, ascending = False)
df

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

# Some Important Series Methods
* astype
* between
* clip
* drop_duplicates
* isnull
* dropna
* fillna
* isin
* apply
* copy

In [ ]:
# astype => convert datatype
df['count'] = df['count'].astype('int64')
df

KeyError: 'count'

In [ ]:
df.dtypes

dtype('O')

In [ ]:
ipl = pd.read_csv('/content/IPLcsv.csv')

In [ ]:
# atype -> change the type of data and the reduce the memory power

In [ ]:
# Between => range
df.between(50, 100)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
# Clip => clip the data in given range
df.clip(50, 100) # lower than 50 will be 50 and higher than 100 will be 100

TypeError: '<=' not supported between instances of 'str' and 'int'

In [ ]:
# drop_duplicates => drop the duplicate values (keep the first one) this will delete the first one
temp = pd.Series([1,1,2,2,3,3,4,4])
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [ ]:
# duplicated => check the duplicate values
temp.duplicated().sum()

4

In [ ]:
# isnull => check the null values
temp1 = pd.Series([1, 2, 3, np.nan, 5, 6, np.nan, 8, np.nan, 10])
temp1.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [ ]:
# dropna => drop the null values
temp1.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [ ]:
# isnull => check the null values
temp1.isnull().sum()

3

In [ ]:
# fillna => fill the null values
temp1.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [ ]:
temp1.fillna(temp1.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

In [ ]:
# isin = => check the values
df.isin([67, 49, 43])

0      False
1      False
2      False
3      False
4      False
       ...
361    False
362    False
363    False
364    False
365    False
Name: 0, Length: 366, dtype: bool

In [ ]:
# apply => apply the function
df.apply(len)

0      18
1       2
2       2
3       2
4       2
       ..
361     3
362     3
363     3
364     3
365     3
Name: 0, Length: 366, dtype: int64

In [ ]:
# Copy => copy the data
df.copy()

0      Subscribers gained
1                      48
2                      57
3                      40
4                      43
              ...
361                   231
362                   226
363                   155
364                   144
365                   172
Name: 0, Length: 366, dtype: object