<a href="https://colab.research.google.com/github/maushamkumar/Pandas/blob/main/session_18_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [15]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [14]:
# code here
# First, find out how many total teams are participated in this worldcup. For that, you can use unique() method on the column "Team" or "Against".
all_team = df['Team'].unique()

In [24]:
# Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
# Total Attempts and On Target
on_target = {}
for i in all_team:
  total_attempts = df[df['Team'] == i]['Total Attempts'].sum()
  total_on_target = df[df['Team'] == i]['On Target'].sum()
  on_target[i] = round((total_on_target/total_attempts)*100, 2)

dict(sorted(on_target.items(), key=lambda x:x[1], reverse=True))

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [25]:
# code here

df['Rank'] = df['Team'].rank(method='first')
df

df['Team'].value_counts().rank(method='first')

Team
Morocco           29.0
Croatia           30.0
Argentina         31.0
France            32.0
England           25.0
Brazil            26.0
Netherlands       27.0
Portugal          28.0
Poland            17.0
Japan             18.0
Switzerland       19.0
Australia         20.0
Korea Republic    21.0
United States     22.0
Senegal           23.0
Spain             24.0
Cameroon           1.0
Uruguay            2.0
Belgium            3.0
Ghana              4.0
Canada             5.0
Qatar              6.0
Costa Rica         7.0
Germany            8.0
Ecuador            9.0
Mexico            10.0
Tunisia           11.0
Denmark           12.0
Saudi Arabia      13.0
Wales             14.0
Iran              15.0
Serbia            16.0
Name: count, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [26]:
# code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 39 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
 38  Rank                             128 non-null    float64
dtypes: float64(1), int64(35), object(3)
memory usage: 39.1+ KB

In [27]:
df.isnull().sum()

Sl. No                             0
Match No.                          0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Pts                                0
Rank                               0
dtype: int64

In [28]:
df.drop_duplicates(inplace=True)

In [30]:
# Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.
df.drop(['Sl. No', 'Match No.', 'Red Cards', 'Pts'], axis=1, inplace=True)

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [32]:
# code here
df['Rank'] = df['Team'].rank()

In [35]:
df['Rank'].astype(np.int16)

0       96
1       40
2       44
3       61
4      102
      ...
123     77
124     32
125     77
126      4
127     50
Name: Rank, Length: 128, dtype: int16

In [36]:
df.set_index(df['Rank'], inplace=True)

In [40]:
df.sort_index(inplace=True)

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [44]:
# code here
train = pd.read_csv('/content/train - train.csv')
test = pd.read_csv('/content/test - test.csv')
train.dropna(subset=['Age'], inplace=True)
test['Age'].fillna(20, inplace=True)
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [169]:
# code here
ipl = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv")
ipl.sample(10)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
408,980949,Pune,2016-04-29,2016,25,Rising Pune Supergiants,Gujarat Lions,Maharashtra Cricket Association Stadium,Gujarat Lions,field,N,Gujarat Lions,Wickets,3.0,NaN,DR Smith,"['AM Rahane', 'SS Tiwary', 'SPD Smith', 'MS Dh...","['DR Smith', 'BB McCullum', 'SK Raina', 'KD Ka...",CB Gaffaney,BNJ Oxenford
270,1136604,Indore,2018-05-12,2018,44,Kolkata Knight Riders,Kings XI Punjab,Holkar Cricket Stadium,Kings XI Punjab,field,N,Kolkata Knight Riders,Runs,31.0,NaN,SP Narine,"['CA Lynn', 'SP Narine', 'RV Uthappa', 'AD Rus...","['KL Rahul', 'CH Gayle', 'MA Agarwal', 'KK Nai...",CK Nandan,VK Sharma
905,336028,Mumbai,2008-05-21,2007/08,45,Mumbai Indians,Kings XI Punjab,Wankhede Stadium,Mumbai Indians,field,N,Kings XI Punjab,Runs,1.0,NaN,SE Marsh,"['ST Jayasuriya', 'SR Tendulkar', 'DR Smith', ...","['SE Marsh', 'JR Hopes', 'LA Pomersbach', 'Yuv...",BF Bowden,GA Pratapkumar
47,1304073,Mumbai,2022-04-16,2022,27,Royal Challengers Bangalore,Delhi Capitals,"Wankhede Stadium, Mumbai",Delhi Capitals,field,N,Royal Challengers Bangalore,Runs,16.0,NaN,KD Karthik,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'GJ ...","['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant'...",Chirra Ravikanthreddy,J Madanagopal
385,980995,Kolkata,2016-05-16,2016,48,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,9.0,NaN,V Kohli,"['RV Uthappa', 'G Gambhir', 'MK Pandey', 'YK P...","['CH Gayle', 'V Kohli', 'AB de Villiers', 'SR ...",CB Gaffaney,A Nand Kishore
76,1254115,Sharjah,2021-10-11,2021,Eliminator,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Kolkata Knight Riders,Wickets,4.0,NaN,SP Narine,"['D Padikkal', 'V Kohli', 'KS Bharat', 'GJ Max...","['Shubman Gill', 'VR Iyer', 'RA Tripathi', 'N ...",CB Gaffaney,VK Sharma
271,1136603,Jaipur,2018-05-11,2018,43,Chennai Super Kings,Rajasthan Royals,Sawai Mansingh Stadium,Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,4.0,NaN,JC Buttler,"['SR Watson', 'AT Rayudu', 'SK Raina', 'MS Dho...","['JC Buttler', 'BA Stokes', 'AM Rahane', 'SV S...",M Erasmus,YC Barde
23,1304097,Mumbai,2022-05-06,2022,51,Mumbai Indians,Gujarat Titans,"Brabourne Stadium, Mumbai",Gujarat Titans,field,N,Mumbai Indians,Runs,5.0,NaN,TH David,"['Ishan Kishan', 'RG Sharma', 'SA Yadav', 'Til...","['WP Saha', 'Shubman Gill', 'HH Pandya', 'B Sa...",J Madanagopal,GR Sadashiv Iyer
392,980981,Bangalore,2016-05-11,2016,41,Royal Challengers Bangalore,Mumbai Indians,M Chinnaswamy Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,6.0,NaN,KH Pandya,"['V Kohli', 'CH Gayle', 'AB de Villiers', 'KL ...","['RG Sharma', 'PA Patel', 'AT Rayudu', 'N Rana...",AY Dandekar,C Shamshuddin
57,1304063,Mumbai,2022-04-09,2022,17,Chennai Super Kings,Sunrisers Hyderabad,"Dr DY Patil Sports Academy, Mumbai",Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8.0,NaN,Abhishek Sharma,"['RV Uthappa', 'RD Gaikwad', 'MM Ali', 'AT Ray...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",Navdeep Singh,Nitin Menon

In [55]:
ipl.replace('Delhi Daredevils', 'Delhi Capitals', inplace=True)
ipl.replace('Kings XI Punjab', 'Punjab Kings', inplace=True)
ipl.replace('Rising Pune Supergiants', 'Rising Pune Supergiant', inplace=True)

In [84]:
mausham = pd.DataFrame()

In [57]:
mausham['Team Name'] = ipl['Team1'].unique()

In [72]:
# Where winning has not null
ipl = ipl[~ipl['WinningTeam'].isnull()]
teams = ipl['Team1'].unique()

In [89]:
data = []
for i in teams:
  played = ipl[(ipl.Team1==i) | (ipl.Team2==i)].shape[0]
  wins = ipl[ipl.WinningTeam==i].shape[0]/played*100
  home_wins = (ipl[(ipl.WinningTeam==i) & (ipl.Team1==i)].shape[0])/ipl[ipl.Team1==i].shape[0]* 100
  away_wins = (ipl[(ipl.WinningTeam==i) & (ipl.Team2==i)].shape[0]) / ipl[(ipl.Team2==i)].shape[0]*100
  data.append([i, played, wins, home_wins, away_wins])

In [90]:
data

[['Rajasthan Royals',
  190,
  50.526315789473685,
  55.0561797752809,
  46.53465346534654],
 ['Royal Challengers Bangalore',
  223,
  48.87892376681614,
  49.59349593495935,
  48.0],
 ['Sunrisers Hyderabad',
  152,
  49.34210526315789,
  52.17391304347826,
  46.98795180722892],
 ['Delhi Capitals',
  222,
  46.3963963963964,
  46.902654867256636,
  45.87155963302752],
 ['Chennai Super Kings',
  208,
  58.17307692307693,
  58.55855855855856,
  57.73195876288659],
 ['Gujarat Titans', 16, 75.0, 57.14285714285714, 88.88888888888889],
 ['Lucknow Super Giants', 15, 60.0, 87.5, 28.57142857142857],
 ['Kolkata Knight Riders',
  223,
  51.12107623318386,
  53.333333333333336,
  49.152542372881356],
 ['Punjab Kings',
  218,
  46.330275229357795,
  45.45454545454545,
  47.22222222222222],
 ['Mumbai Indians',
  231,
  56.709956709956714,
  58.03571428571429,
  55.46218487394958],
 ['Rising Pune Supergiant', 30, 50.0, 50.0, 50.0],
 ['Gujarat Lions', 30, 43.333333333333336, 31.25, 57.14285714285714],
 ['Pune Warriors',
  45,
  26.666666666666668,
  26.08695652173913,
  27.27272727272727],
 ['Deccan Chargers',
  75,
  38.666666666666664,
  33.33333333333333,
  44.44444444444444],
 ['Kochi Tuskers Kerala',
  14,
  42.857142857142854,
  42.857142857142854,
  42.857142857142854]]

In [80]:
(ipl[(ipl.WinningTeam=='Mumbai Indians') & (ipl.Team1=='Mumbai Indians')].shape[0])/ipl[ipl.Team1=='Mumbai Indians'].shape[0]* 100

58.03571428571429

In [95]:
mausham[['Team Name', 'Matches Played', 'Win%', 'Home Win%', 'Away Win%']] = data

In [98]:
mausham

,Team Name,Matches Played,Win%,Home Win%,Away Win%
0,Gujarat Titans,16,75.0,57.142857,88.888889
10,Lucknow Super Giants,15,60.0,87.5,28.571429
7,Chennai Super Kings,208,58.173077,58.558559,57.731959
3,Mumbai Indians,231,56.709957,58.035714,55.462185
2,Kolkata Knight Riders,223,51.121076,53.333333,49.152542
5,Rajasthan Royals,190,50.526316,55.05618,46.534653
8,Rising Pune Supergiant,30,50.0,50.0,50.0
4,Sunrisers Hyderabad,152,49.342105,52.173913,46.987952
6,Royal Challengers Bangalore,223,48.878924,49.593496,48.0
9,Delhi Capitals,222,46.396396,46.902655,45.87156
1,Punjab Kings,218,46.330275,45.454545,47.222222
11,Gujarat Lions,30,43.333333,31.25,57.142857
12,Kochi Tuskers Kerala,14,42.857143,42.857143,42.857143
13,Deccan Chargers,75,38.666667,33.333333,44.444444
14,Pune Warriors,45,26.666667,26.086957,27.272727

In [97]:
mausham.sort_values('Win%', ascending=False, inplace=True)

###`Q-7:` Venues with most "no result" matches.

In [117]:
ipl['WonBy'].isnull().sum()
ipl['WonBy'].value_counts()

WonBy
Wickets      509
Runs         423
SuperOver     14
NoResults      4
Name: count, dtype: int64

In [118]:
# code here
ipl[ipl['WonBy'] == 'NoResults'].Venue.value_counts()

Venue
M Chinnaswamy Stadium    2
M.Chinnaswamy Stadium    1
Feroz Shah Kotla         1
Name: count, dtype: int64

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [122]:
# code here
ipl.head()
(ipl[ipl['MatchNumber'] == 'Final']['Team1Players'] + ipl[ipl['MatchNumber'] == 'Final']['Team2Players']).str.split(',').explode().str.strip().value_counts()

'MS Dhoni'       10
'SK Raina'        8
'DJ Bravo'        7
'RA Jadeja'       7
'AT Rayudu'       7
                 ..
['CH Gayle'       1
'KL Rahul'        1
'Sachin Baby'     1
'STR Binny'       1
'MM Patel']       1
Name: count, Length: 191, dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [123]:
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [ ]:
# code here
def point_table(season):

  new_df = pd.DataFrame()
  for i in

In [140]:
for i in ipl['Season'].unique():
    # get the team name
    team_name = ipl[ipl['Season'] == i]['Team1'].unique()
    # print(team_name)
    # How many played by a team in a particular season
    MatchesPlayed = ipl[ipl['Season'] == i]['Team1'].value_counts() + ipl[ipl['Season'] == i]['Team2'].value_counts().dropna()
    # print( MatchesPlayed)
    # How many match won by a team
    MatchesWon = ipl[ipl['Season'] == i]['WinningTeam'].value_counts()
    # print(MatchesWon)
    # Is there any draw in a particular season
    MatchesDrawn = ipl[ipl['Season'] == i]['WonBy'].value_counts()
    # print(MatchesDrawn)
    # How many points by a team in a particular season
    Points = ipl[ipl['Season'] == i]['WinningTeam'].value_counts() * 2
    print(Points)
    MatchesDrawn = ipl[ipl['Season'] == i]['WonBy'].value_counts()
    print(MatchesDrawn)

WinningTeam
Gujarat Titans                 24
Rajasthan Royals               20
Royal Challengers Bangalore    18
Lucknow Super Giants           18
Punjab Kings                   14
Delhi Capitals                 14
Sunrisers Hyderabad            12
Kolkata Knight Riders          12
Mumbai Indians                  8
Chennai Super Kings             8
Name: count, dtype: int64
WonBy
Wickets    37
Runs       37
Name: count, dtype: int64
WinningTeam
Chennai Super Kings            22
Delhi Capitals                 20
Kolkata Knight Riders          18
Royal Challengers Bangalore    18
Mumbai Indians                 14
Punjab Kings                   12
Rajasthan Royals               10
Sunrisers Hyderabad             6
Name: count, dtype: int64
WonBy
Wickets      37
Runs         22
SuperOver     1
Name: count, dtype: int64
WinningTeam
Mumbai Indians                 22
Delhi Capitals                 18
Sunrisers Hyderabad            16
Kolkata Knight Riders          14
Royal Challengers Bangalore    14
Chennai Super Kings            12
Rajasthan Royals               12
Kings XI Punjab                12
Name: count, dtype: int64
WonBy
Wickets      29
Runs         27
SuperOver     4
Name: count, dtype: int64
WinningTeam
Mumbai Indians                 22
Chennai Super Kings            20
Delhi Capitals                 20
Kings XI Punjab                12
Kolkata Knight Riders          12
Sunrisers Hyderabad            12
Royal Challengers Bangalore    10
Rajasthan Royals               10
Name: count, dtype: int64
WonBy
Wickets      35
Runs         22
SuperOver     2
NoResults     1
Name: count, dtype: int64
WinningTeam
Chennai Super Kings            22
Sunrisers Hyderabad            20
Kolkata Knight Riders          18
Rajasthan Royals               14
Royal Challengers Bangalore    12
Mumbai Indians                 12
Kings XI Punjab                12
Delhi Daredevils               10
Name: count, dtype: int64
WonBy
Wickets    32
Runs       28
Name: count, dtype: int64
WinningTeam
Mumbai Indians                 24
Rising Pune Supergiant         20
Kolkata Knight Riders          18
Sunrisers Hyderabad            16
Kings XI Punjab                14
Delhi Daredevils               12
Gujarat Lions                   8
Royal Challengers Bangalore     6
Name: count, dtype: int64
WonBy
Wickets      32
Runs         26
SuperOver     1
Name: count, dtype: int64
WinningTeam
Sunrisers Hyderabad            22
Royal Challengers Bangalore    18
Gujarat Lions                  18
Kolkata Knight Riders          16
Delhi Daredevils               14
Mumbai Indians                 14
Rising Pune Supergiants        10
Kings XI Punjab                 8
Name: count, dtype: int64
WonBy
Wickets    39
Runs       21
Name: count, dtype: int64
WinningTeam
Mumbai Indians                 20
Chennai Super Kings            20
Royal Challengers Bangalore    16
Rajasthan Royals               14
Sunrisers Hyderabad            14
Kolkata Knight Riders          14
Delhi Daredevils               10
Kings XI Punjab                 6
Name: count, dtype: int64
WonBy
Runs         32
Wickets      24
NoResults     2
SuperOver     1
Name: count, dtype: int64
WinningTeam
Kings XI Punjab                24
Kolkata Knight Riders          22
Chennai Super Kings            20
Mumbai Indians                 14
Rajasthan Royals               14
Sunrisers Hyderabad            12
Royal Challengers Bangalore    10
Delhi Daredevils                4
Name: count, dtype: int64
WonBy
Wickets      37
Runs         22
SuperOver     1
Name: count, dtype: int64
WinningTeam
Mumbai Indians                 26
Chennai Super Kings            24
Rajasthan Royals               22
Sunrisers Hyderabad            20
Royal Challengers Bangalore    18
Kings XI Punjab                16
Kolkata Knight Riders          12
Pune Warriors                   8
Delhi Daredevils                6
Name: count, dtype: int64
WonBy
Runs         37
Wickets      37
SuperOver     2
Name: count, dtype: int64
WinningTeam
Kolkata Knight Riders          24
Delhi Daredevils               22
Chennai Super Kings            20
Mumbai Indians                 20
Kings XI Punjab                16
Royal Challengers Bangalore    16
Rajasthan Royals               14
Deccan Chargers                 8
Pune Warriors                   8
Name: count, dtype: int64
WonBy
Wickets    40
Runs       34
Name: count, dtype: int64
WinningTeam
Chennai Super Kings            22
Royal Challengers Bangalore    20
Mumbai Indians                 20
Kolkata Knight Riders          16
Kings XI Punjab                14
Deccan Chargers                12
Rajasthan Royals               12
Kochi Tuskers Kerala           12
Pune Warriors                   8
Delhi Daredevils                8
Name: count, dtype: int64
WonBy
Wickets      39
Runs         33
NoResults     1
Name: count, dtype: int64
WinningTeam
Mumbai Indians                 22
Chennai Super Kings            18
Royal Challengers Bangalore    16
Deccan Chargers                16
Kolkata Knight Riders          14
Delhi Daredevils               14
Rajasthan Royals               12
Kings XI Punjab                 8
Name: count, dtype: int64
WonBy
Runs         31
Wickets      28
SuperOver     1
Name: count, dtype: int64
WinningTeam
Delhi Daredevils               20
Deccan Chargers                18
Royal Challengers Bangalore    18
Chennai Super Kings            16
Kings XI Punjab                14
Rajasthan Royals               12
Mumbai Indians                 10
Kolkata Knight Riders           6
Name: count, dtype: int64
WonBy
Wickets      29
Runs         27
SuperOver     1
Name: count, dtype: int64
WinningTeam
Rajasthan Royals               26
Kings XI Punjab                20
Chennai Super Kings            18
Mumbai Indians                 14
Delhi Daredevils               14
Kolkata Knight Riders          12
Royal Challengers Bangalore     8
Deccan Chargers                 4
Name: count, dtype: int64
WonBy
Wickets    34
Runs       24
Name: count, dtype: int64

In [155]:
count = 0
MatchesDrawn = ipl[ipl['Season'] == '2011']['WonBy'].value_counts()
# if MatchesDrawn == 'NoResults':
#   count = 1
# print(count)
# print(MatchesDrawn)
MatchesDrawn.loc[['NoResults']]

WonBy
NoResults    1
Name: count, dtype: int64

In [170]:
changed_name = {'Delhi Daredevils':'Delhi Capitals',
                'Kings XI Punjab':'Punjab Kings',
                'Rising Pune Supergiants':'Rising Pune Supergiant'}

ipl.replace(changed_name.keys(), changed_name.values(),inplace=True)

In [173]:
# code here
def matches_played(df, team):
    return df[(df.Team1 == team) | (df.Team2 == team)].shape[0]
def matches_won(df, team):
    return df[df.WinningTeam == team].shape[0]
def matches_no_result(df, team):
    return df[((df.Team1 == team) | (df.Team2 == team)) & (df.WinningTeam.isnull())].shape[0]

def point_table(season):
    df = ipl[ipl.Season == season]
    new_df = pd.DataFrame()
    new_df['Team Name'] = df.Team1.unique()
    new_df["Matches Played"] = new_df["Team Name"].apply(lambda x: matches_played(df, x))
    new_df["Matches Won"] = new_df["Team Name"].apply(lambda x: matches_won(df, x))
    new_df["No Result"] = new_df["Team Name"].apply(lambda x: matches_no_result(df, x))
    new_df["Points"] = new_df["Matches Won"]*2 + new_df["No Result"]
    new_df.sort_values("Points", ascending = False, inplace=True)
    new_df.set_index("Team Name", inplace=True)
    return new_df
point_table("2022")

                             Matches Played  Matches Won  No Result  Points
Team Name
Gujarat Titans                           16           12          0      24
Rajasthan Royals                         17           10          0      20
Royal Challengers Bangalore              16            9          0      18
Lucknow Super Giants                     15            9          0      18
Delhi Capitals                           14            7          0      14
Punjab Kings                             14            7          0      14
Sunrisers Hyderabad                      14            6          0      12
Kolkata Knight Riders                    14            6          0      12
Chennai Super Kings                      14            4          0       8
Mumbai Indians                           14            4          0       8

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [180]:
def point_table_extension(season):
    df3 = point_table(season)
    df = ipl[ipl.Season == season].copy()
    df3["SeasonPosition"] = df3.Points.rank(ascending=False, method='first').astype('object')

    # Combine the losing teams from both conditions using pd.concat
    loosing_team1 = df[df.WinningTeam == df.Team1]["Team2"]
    loosing_team2 = df[df.WinningTeam == df.Team2]["Team1"]
    df["LoosingTeam"] = pd.concat([loosing_team1, loosing_team2])

    final = df[df["MatchNumber"] == "Final"]
    wining_team = final.WinningTeam.values[0]
    runner = final.LoosingTeam.values[0]
    df3.at[wining_team, "SeasonPosition"] = "Winner"
    df3.at[runner, "SeasonPosition"] = "Runner"

    q = df[df["MatchNumber"] == "Qualifier 2"]
    e = df[df["MatchNumber"] == "Eliminator"]
    third = q.LoosingTeam.values[0]
    fourth = e.LoosingTeam.values[0]
    df3.at[third, "SeasonPosition"] = "Third"
    df3.at[fourth, "SeasonPosition"] = "Fourth"

    return df3

# Call the function with the desired season
point_table_extension("2022")

,Matches Played,Matches Won,No Result,Points,SeasonPosition
Team Name,,,,,
Gujarat Titans,16,12,0,24,Winner
Rajasthan Royals,17,10,0,20,Runner
Royal Challengers Bangalore,16,9,0,18,Third
Lucknow Super Giants,15,9,0,18,Fourth
Delhi Capitals,14,7,0,14,5.0
Punjab Kings,14,7,0,14,6.0
Sunrisers Hyderabad,14,6,0,12,7.0
Kolkata Knight Riders,14,6,0,12,8.0
Chennai Super Kings,14,4,0,8,9.0
Mumbai Indians,14,4,0,8,10.0